language: java

sudo: false

branches:
  only:
    - master
    - develop

jdk:
  - oraclejdk8
#  - oraclejdk7
#  - openjdk8
#  - openjdk7
#  - openjdk6

after_success:
#  - mvn clean cobertura:cobertura coveralls:report
- mvn clean test jacoco:report coveralls:report